@font-face {
  font-family: 'Helvetica Neue LT GEO';
  src: url('~fonts/roman/roman.eot');
  src: url('~fonts/roman/roman.eot?#iefix')
      format('embedded-opentype'),
    url('~fonts/roman/roman.woff2')
      format('woff2'),
    url('~fonts/roman/roman.woff')
      format('woff'),
    url('~fonts/roman/roman.ttf')
      format('truetype'),
    url('~fonts/roman/roman.svg#helvetica-neue-lt-geo')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue LT GEO Caps';
  src: url('~fonts/roman-caps/roman-caps.eot');
  src: url('~fonts/roman-caps/roman-caps.eot?#iefix')
      format('embedded-opentype'),
    url('~fonts/roman-caps/roman-caps.woff2')
      format('woff2'),
    url('~fonts/roman-caps/roman-caps.woff')
      format('woff'),
    url('~fonts/roman-caps/roman-caps.ttf')
      format('truetype'),
    url('~fonts/roman-caps/roman-caps.svg#helvetica-neue-lt-geo-caps')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue LT GEO';
  src: url('~fonts/medium/medium.eot');
  src: url('~fonts/medium/medium.eot?#iefix')
      format('embedded-opentype'),
    url('~fonts/medium/medium.woff2')
      format('woff2'),
    url('~fonts/medium/medium.woff')
      format('woff'),
    url('~fonts/medium/medium.ttf')
      format('truetype'),
    url('~fonts/medium/medium.svg#helvetica-neue-lt-geo')
      format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue LT GEO Caps';
  src: url('~fonts/medium-caps/medium-caps.eot');
  src: url('~fonts/medium-caps/medium-caps.eot?#iefix')
      format('embedded-opentype'),
    url('~fonts/medium-caps/medium-caps.woff2')
      format('woff2'),
    url('~fonts/medium-caps/medium-caps.woff')
      format('woff'),
    url('~fonts/medium-caps/medium-caps.ttf')
      format('truetype'),
    url('~fonts/medium-caps/medium-caps.svg#helvetica-neue-lt-geo-caps')
      format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue LT GEO';
  src: url('~fonts/bold/bold.eot');
  src: url('~fonts/bold/bold.eot?#iefix')
      format('embedded-opentype'),
    url('~fonts/bold/bold.woff2')
      format('woff2'),
    url('~fonts/bold/bold.woff')
      format('woff'),
    url('~fonts/bold/bold.ttf')
      format('truetype'),
    url('~fonts/bold/bold.svg#helvetica-neue-lt-geo')
      format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue LT GEO Caps';
  src: url('~fonts/bold-caps/bold-caps.eot');
  src: url('~fonts/bold-caps/bold-caps.eot?#iefix')
      format('embedded-opentype'),
    url('~fonts/bold-caps/bold-caps.woff2')
      format('woff2'),
    url('~fonts/bold-caps/bold-caps.woff')
      format('woff'),
    url('~fonts/bold-caps/bold-caps.ttf')
      format('truetype'),
    url('~fonts/bold-caps/bold-caps.svg#helvetica-neue-lt-geo-caps')
      format('svg');
  font-weight: bold;
  font-style: normal;
}
